/*header bar*/
.header {
    overflow: hidden;
    background-color: #ffffff;
    width: 100%;
    border-bottom: solid;
    border-color: #cccccc;
}

/*first and last name on header*/ 
h1 {
    float: left;
    padding: 25px;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
}

/* navigation bar */
.navbar {
    float: right;
    text-align: right;
    text-decoration: none;
    font-size: 16px; 
    line-height: 25px;
    margin-top: 25px;
  }
  
.about {
    padding: 15px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
} 

.portfolio {
    border-left: solid;
    border-right: solid;
    border-width: thin;
    color: #777777;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
} 

.contact {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #777777;
} 

/*about section*/
body {
    color: #777777;
    /* background: url("assets/images/contemporary_china.png");
    background-repeat: repeat-x; */
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
} 

h2 {
    padding: 20px;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid;
    border-color: #cccccc;
}

p {
    margin-top: 20px;
    position: relative; 
    display: inline;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
} 

.picture {
    margin-top: 20px;
    float: left;
    margin-right: 15px;
}

/*contact section*/
.name {
    width: 400px;
}
.emailAddress {
    width: 400px;
}
.textArea {
    width: 400px;
    height: 200px;
}
.submitBtn {
    background-color: #4aaaa5;
}

/*footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #666666;
    color: #ffffff;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
/* footer border */
    border-top: solid;
    border-color: #4aaaa5;
    border-width: thick;
 }